<p>
  Please use the following links to download the exchange rate files for <%= @month_and_year %>.<br>
  Links: <a href="<%= TradeTariffBackend.frontend_host + @csv_hmrc.file_path %>">CSV HMRC</a> and <a href="<%= TradeTariffBackend.frontend_host + @xml.file_path %>">XML</a>
</p>

<p>
  Please direct any queries to <a href="mailto:<%= TradeTariffBackend.support_email %>"><%= TradeTariffBackend.support_email %></a>.<br>
  Online Trade Tariff Team
</p>
