<h1>Enquiry Form Submission</h1>

<p>Reference number: <%= @enquiry_form[:reference_number] %></p>
<p>Submission date: <%= @enquiry_form[:created_at] %></p>

<p>Name: <%= @enquiry_form[:name] %></p>
<p>Company name: <%= @enquiry_form[:company_name] %></p>
<p>Job title: <%= @enquiry_form[:job_title] %></p>
<p>Email: <%= @enquiry_form[:email] %></p>
<p>Enquiry category: <%= @enquiry_form[:enquiry_category] %></p>
<p>Enquiry description: <%= @enquiry_form[:enquiry_description] %></p>
